button {
    padding: 10px 40px;
    background-color: #A12E1A;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;

    &:hover {
        background-color: #A31C00;
    }
}

.addOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 999;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background: #DC6932;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 999;
    width: 500px;
    min-height: 250px;

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    }

.mainText {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    }

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding-right: 15px;
    padding-top: 7px;
    cursor: pointer;
    font-size: 25px;
    &:hover {
    color: #00000029;}
    }

.modalBtn {min-width: 122px;}
}

.modal.open {
    display: block;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #D04D2C;
    padding: 0 20px;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 460px;
}